body {
  margin: 0;
  font-family: "Roboto";
}
.page {
    display:flex;
    flex-direction: column;
}
.sidebar {
  background-color: #191718;
  width: 12%;
  min-width: 100px;
  height: 100vh;
  position: fixed;
  z-index: 5;
}
.choices {
  margin: 0;
  padding: 0;
}
.choice {
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  height: 50px;
  border-bottom: 1px solid #5c5c5c;
  display: flex;
  padding-left: 25px;
  align-items: center;
}
.choice:hover {
  background-color: #5c5c5c;
}
.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.content {
    min-height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 8%;
  padding-left: 20%;
  top: 0;
}
.logo {
  text-align: center;
}
.logo-img {
  margin: 20px;
  width: 20%;
}
.content_1 {
  text-align: center;
  background-color: #efefef;
  padding: 1% 5%;
  font-family: Roboto;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.content_1 p {
  font-size: 13px;
}
.content_1 h4 {
  margin-bottom: 0;
}
.content_2 {
  display: flex;
  gap: 50px;
}



.factor_content {
  overflow: auto;
}
.factor_content img {
  float: left;
}
.factor_content p {
  margin: 0;
  font-size: 13px;
}
.footer {
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding-left: 20%;
  z-index: 0;
  border-top: solid 1px #dedede;
}
@media screen and (max-width: 892px) {
    .content_2 {
      flex-wrap: wrap; 
    }
    .footer {
        padding: 8%;
    }
    .sidebar {
        position: relative;
        height: auto;
        display: flex;
        min-width: none;
        width: 100vw;
      }
      .choices {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
      .content {
        padding-left: 8%;
      }
      .choice {
        padding: 0;
      }

  }